
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*blog*/
.code_div{
  width: 80%;
  height: 350px;
  overflow-y: scroll;
  margin:50px auto;
  padding:10px 20px;
  border: 2px solid #007BFF;
  position: relative;
}
/* width */
.code_div::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.code_div::-webkit-scrollbar-thumb {
  background: #007BFF; 
}
.copy{
  position: absolute;
}

/*Banner*/
.head{
  margin: auto;
}

/* design */
.design a{
  text-decoration: none;
}
/* design */

/* footer */
footer{
  display: flex;
  background-color: rgb(46, 46, 46);
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
}
.git{
  display: flex;
  align-items: center;
  border: 2px solid red;
}




/* footer */




/* <div class="row">
   
   
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6 col-6">
            
          </div>
          <div class="col-md-6 col-6">
            <p>Privacy Policy</p>
          </div>
        </div>
      </div>
    </div>
    </div> */